body{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #efefef;
    width: 100%;
}

:root {
    --color1: #000000;
    --color2: #ffffff;
    --color3: #2B8EAD;
    --color4: #333333;
    --color5: #6F98A8;
    --color6: #BFBFBF;
    --color7: #EFEFEF;
    --color8: #2F454E;
    --color9: #72C3DC;    
  }
  .clearfix{
      clear: both;
  }

.wrapper{    
    max-width: 1500px;
    margin: 0 auto;
    
}
.head-text{
    font-size: 22px;
    font-weight: italic;
    line-height: 38px;
    padding: 5px;
}

@media (max-width: 767px) {
    .wrapper{    
        width: 95%;
        margin: 0 auto;
        text-align: center;
        /* border: 5px solid #000000; */
    }
    .head-text{
        color: #ffffff;
        background-color: #000000;
    }

    .col20-sec{
        width: 100%;
    }
    .col80-sec{
        width: 100%;        
    }
    .shuffle > div {
        line-height: 30px;
        height: auto;
        text-align: center;
        color: #000000;
        font-size: 30px;
        text-align: center;
        background-color: #fffefe;
        margin:5px 0px;
        padding: 20px;
        position: relative;
    }

    .a::before{
        content: "";
        background-color:#6F98A8 !important;
        width: 15px;
        height: 70px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .b::before{
        content: "";
        background-color:#2B8EAD !important;
        width: 15px;
        height: 70px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .c::before{
        content: "";
        background-color:#333333 !important;
        width: 15px;
        height: 70px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .d::before{
        content: "";
        width: 15px;
        height: 70px;
        position: absolute;
        left: 0;
        top: 0;
        background-color:#72C3DC !important;}
    .e::before{
        content: "";
        width: 15px;
        height: 70px;
        position: absolute;
        left: 0;
        top: 0;background-color:#333333 !important;}
    .f::before{
        content: "";
        width: 15px;
        height: 70px;
        position: absolute;
        left: 0;
        top: 0;background-color:#E2E2E2 !important;}
    .g::before{
        content: "";
        width: 15px;
        height: 70px;
        position: absolute;
        left: 0;
        top: 0;background-color:#BFBFBF !important;}
    .h::before{
        content: "";
        width: 15px;
        height: 70px;
        position: absolute;
        left: 0;
        top: 0;background-color:#2B8EAD !important;}
    .i::before{
        content: "";
        width: 15px;
        height: 70px;
        position: absolute;
        left: 0;
        top: 0;background-color:#333333 !important;}
    
    .button{
    background-color: #72C3DC !important;
    padding: 10px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    min-width: 250px;
    text-align: center;
    margin: 10px 0;
    outline: none;
    border-radius: 5px;
    -webkit-box-shadow: 3px 6px 5px 0px rgba(43,142,173,1);
    -moz-box-shadow: 3px 6px 5px 0px rgba(43,142,173,1);
    box-shadow: 3px 6px 5px 0px rgba(43,142,173,1);
    }

}


@media (min-width: 768px) {
    .wrapper{    
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    
    .col20-sec{
        width: 100%;
        float: right ;
    }
    .col80-sec{
        width: 100%;        
    }
    .shuffle > div {
        float: left;
        line-height: 30px;
        width: 100%;
        height: 150px;
        text-align: center;
        color: #fff;
        font-size: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .a{background-color:#6F98A8;}
    .b{background-color:#2B8EAD;}
    .c{background-color:#333333;}
    .d{background-color:#72C3DC;}
    .e{background-color:#333333;}
    .f{background-color:#E2E2E2;}
    .g{background-color:#BFBFBF;}
    .h{background-color:#2B8EAD;}
    .i{background-color:#333333;}
    
    .button{
    background-color: #72C3DC;
    padding: 20px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    min-width: 250px;
    text-align: center;
    margin: 25px;
    outline: none;
    border-radius: 5px;
    -webkit-box-shadow: 3px 6px 5px 0px rgba(43,142,173,1);
    -moz-box-shadow: 3px 6px 5px 0px rgba(43,142,173,1);
    box-shadow: 3px 6px 5px 0px rgba(43,142,173,1);
    }
    
  }
  @media (min-width: 992px) {
    .wrapper{    
        width: 80%;
        margin: 0 auto;
    }
    
    .col20-sec{
        width: 25%;
        float: right ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .col80-sec{
        width: 75%;
        float: right ;
    }
    .shuffle > div {
        float: left;
        line-height: 30px;
        width: 250px;
        height: 250px;
        text-align: center;
        color: #fff;
        font-size: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .a{background-color:#6F98A8;}
    .b{background-color:#2B8EAD;}
    .c{background-color:#333333;}
    .d{background-color:#72C3DC;}
    .e{background-color:#333333;}
    .f{background-color:#E2E2E2;}
    .g{background-color:#BFBFBF;}
    .h{background-color:#2B8EAD;}
    .i{background-color:#333333;}
    
    .button{
    background-color: #72C3DC;
    padding: 20px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    min-width: 250px;
    text-align: center;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
    -webkit-box-shadow: 3px 6px 5px 0px rgba(43,142,173,1);
    -moz-box-shadow: 3px 6px 5px 0px rgba(43,142,173,1);
    box-shadow: 3px 6px 5px 0px rgba(43,142,173,1);
    }
    
  }
  @media (min-width: 1200px) {
    .wrapper{    
        width: 80%;
        margin: 0 auto;
    }
    
    .col20-sec{
        width: 25%;
        float: right ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .col80-sec{
        width: 75%;
        float: right ;
    }
    .shuffle > div {
        float: left;
        line-height: 30px;
        width: 250px;
        height: 250px;
        text-align: center;
        color: #fff;
        font-size: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .a{background-color:#6F98A8;}
    .b{background-color:#2B8EAD;}
    .c{background-color:#333333;}
    .d{background-color:#72C3DC;}
    .e{background-color:#333333;}
    .f{background-color:#E2E2E2;}
    .g{background-color:#BFBFBF;}
    .h{background-color:#2B8EAD;}
    .i{background-color:#333333;}
    
    .button{
    background-color: #72C3DC;
    padding: 20px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    min-width: 250px;
    text-align: center;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
    -webkit-box-shadow: 3px 6px 5px 0px rgba(43,142,173,1);
    -moz-box-shadow: 3px 6px 5px 0px rgba(43,142,173,1);
    box-shadow: 3px 6px 5px 0px rgba(43,142,173,1);
    }
    
  }